* {
	font-size: 32px;
	margin: 0;
}

.boxabsoluta {
	background-color: red;
    width: 720px;
    font-size: 2em; /*32 * 2 = 64px*/
}

.boxrelativa {

	background-color: green;
	border: 2px solid black;
	margin-left: 1em; /*Relativo ao tamanho do texto (32 pixels)*/
width: 50%;
}

.paragrafo {
	font:32px;
}

.paragrafo-em {
	font-size: 2em; /*32 *2 = 64*/
}

span { font-size: 2em; /*2 * 64 = 128px */ 
}

em { font-size:2rem; /*2 * 32 = 64 px*/
 }