div.static{
	position: static;
	border: 2x solid olive;
	background-color: yellow;
}

div.relative {
	position: relative;
	left: -5px ;
	top: 10px;
	border: 2px solid olive;
	background-color: blue;
	color: white;
}

div.fixed {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 200px;
	border: 2px solid olive;
	background-color: red;
	color: white;
}

div.absolute {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	hanging-punctuation: 100px;
	border: 2px solid purple;
	background-color: gray;
	color: white;
}