body{
	background-color: #bbb;
	background-image: url(gato-preto.png);
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: top;
	/*background: #bbb url(gato-preto.png) noo-repeat top right*/

}

div {
	border: 1px solid;
	padding: 25px;
	margin: 5px;
	font-size: 22px;
}

.hexa {
	background-color: #dd0099;
}

.hexa_resumido {
	background-color: #d09;
}

.rgb{
	background-color: rgb(225, 128, 36);
}

.rgb_percentual {
	background-color: rgb(100%, 20%, 10%);
}
.rgba {
	background-color: rgba(255, 128, 36, 0.8);
}

.hsl {
	background-color: hsl(210, 100%, 40%);
}

.hsla {
	background-color: hsla(210, 100%, 40%, 0.5);
}

.transparente{
	background-color: transparent;
}

.palavra{
	background-color: orange;
}