/*Herança: todos herdam as caracteristicas de body, exceto se eles mesmos tem suas estilizações.*/

body { 
  margin: 0; 
  font-family: "Arial", sans-serif;
  font-size: 32px;
  background-color: black;
}

/*0002*/
div p {
	color: red;
}

/*0001*/
p {
  color: green; /*!important*/
}

/*0011*/
div.classdiv {
  background-color: purple;
  color: white;
}

/*0101*/
div#iddiv {
  background-color: white;
}


